<!DOCTYPE html>
<html>
  <body>
    <div>
      Welcome to Standup Arthur!
    </div>
    <br>
    <div>
      For now all you can do is see your <a href="/standups">standups</a>.
    </div>
  </body>
</html>
