<!DOCTYPE html>
<html>
  <body>
    <div>
      Eventually there'll be a list of standups here...
    </div>
    <br>
    <div>
      Or you can create a new one:
      <form action=standups method=post >
        Name: <input type="text" name="name"/><br>
        Time of day: <input type="time" name="time"/><br>
        <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">Time zone</a>: <input type="text" name="time_zone"/><br>
        <input type="submit" value="Create new standup"/>
      </form>
    <br>
    </div>
  </body>
</html>
